<mat-tab-group #matTabGroup>
  <mat-tab label="Dashboard">
    <div class="row m-2 mt-5">
      <div class="col-6">
        <h3 class="pb-2">Set up review configuration</h3>
        <div>
          <form [formGroup]="miseForm" (ngSubmit)="onSubmit(matTabGroup)">
            <div>
              <mat-form-field>
                <mat-label>Select Mise</mat-label>
                <mat-select formControlName="mise">
                  <mat-option
                    *ngFor="let mise of microServices"
                    [value]="mise.value"
                  >
                    {{ mise.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Select Tag</mat-label>
                <mat-select formControlName="version">
                  <mat-option
                    *ngFor="let version of microServices"
                    [value]="version.version"
                  >
                    {{ version.version }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button
                mat-flat-button
                color="primary"
                [disabled]="!miseForm.valid"
              >
                Review
              </button>
            </div>
          </form>
        </div>
      </div>
      <div>
        <div class="pt-sm-2 col-8">
          <h5 class="">Overview</h5>
          <p>
            <b>Security Review Check</b> needs to be done for the microservice
            before release to production.
          </p>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Report" [disabled]="isReportAvailable">
    <app-report-table></app-report-table>
  </mat-tab>
</mat-tab-group>
<div *ngIf="isAlertOpen" class="fixed-bottom alert alert-success" role="alert">
  The report successfully created, to see the result, please click on
  <b>"Show Report"</b>
</div>
